page-documents-2
{
  .b-header
  {
    h3
    {
      margin-top: 0;
      margin-bottom: 20px;
    }
    img
    {
      width: 90px;
    }
    h5
    {
      font-size: 14px;
    }
  }
  .m-label
  {
    padding: 20px 25px 5px;
    font-weight: bold;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
  }
  .div-input
  {
    position: relative;
    background: #f4f4f4;
    padding: 12px 25px;
  }
  .npd
  {
    min-height: 30px;
  }
  .npd .item-inner, .npd .input-wrapper
  {
    padding: 0;
    margin: 0;
  }
  .form-control
  {
    border:0;
    background: none;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
  }
  .form-control.datetime
  {
    padding: 0; 
  }
  .categories
  {
    .item
    {
      background: rgba(20, 1, 158, 0.6);
      border-radius: 27px;
      padding: 9px 10px;
      font-size: 11px;
      color: #fff;
      display: inline-block;
      line-height: 6px;
    }
  }
  table 
  {
    img{
      max-width: inherit;
      display: flex;
      margin-top: 1px;
    }
  }
  td[valign="center"]
  {
    vertical-align: inherit;
  }
}