page-payments
{
  .b-header
  {
    padding: 20px 30px;
    height: 240px;
    position: relative;
    .pb-select
    {
      display: table;
      margin: 10px auto 0;
      min-width: 140px;
      background-color: rgba(216, 216, 216, 0.28);
      border-radius: 27px;
      .item
      {
         min-height: inherit;
      }
      .item-inner, .input-wrapper
      {
        padding: 0;
      }
      .select {
          padding: 6px 20px 6px 20px;
          min-width: 100%;
          margin: auto;
          color: #fff;
          font-size: 15px;
          font-weight: 300;
          .select-text
          {
            text-align: center;
            text-transform: uppercase;
          }
          .select-icon .select-icon-inner {
              margin-top: 0;
              left: 5px;
              top: 3px;
              width: 9px;
              height: 9px;
              border-width: 1px;
              border-top-width: 0;
              border-left-width: 0;
              border-style: solid;
              border-color: #fff;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
          }
      } 
    }
    h1,h2
    {
      font-weight: 500;
      margin-bottom: 0;
    }
    h1
    {
      font-size: 32px;
    }
    h2
    {
      font-size: 26px;
      font-weight: 600;
      color: #f8e81c;
    }
    p{
      margin-top: 3px;
      letter-spacing: 0.3px;
      opacity: 0.9;
      font-weight: 400;
    }
    .total-paid
    {
      color: #50e3c2;
    }
    .pending
    {
      color: #d0011b;
    }
  }
  .data
  {
    .grid
    {
      .row{
        padding: 10px 29px 5px 10px;
        font-size: 12px;
        font-weight: bold;
        color: rgba(0,0,0,1);
        opacity: 0.6;
        .col:last-child
        {
          color: #156fd9;
        }
      }
    }
    .list
    {
      margin-bottom: 0;
      .item
      {
        background-color: rgba(242, 242, 248, 0.5);
        .sub
        {
          font-size: 9px;
          font-weight: 600;
          color: #4a4a4a;
          margin-top: 4px;
          .type
          {
            min-width: 80px;
            display: inline-block;
          }
          .status.with-family
          {
            color: #417505;
          }
          .status.with-family
          {
            color: #417505;
          }
          .status.with-bachelors
          {
            color: #5a05a6;
          }
          .status.alone
          {
            color: #f6a623;
          }
        }
        .amount
        {
          margin-top: 8px;
          font-weight: 600;
          color: #417505;
          letter-spacing: 0.4px;
        }
      }
      .item:nth-of-type(even) 
      {
        background-color: rgba(230, 229, 241, 0.5);
        .amount
        {
          color: #d0011b;
        }
      }
    }
  }
}