<ion-content class="no-scroll">
    
   <custom-header [header]="user"></custom-header>
   
   <div class="messages"  #scrollMe [scrollTop]="scrollMe.scrollHeight">

     <div *ngFor="let item of messages; let index=index" class="message {{messages[index].from==account.id?'sent':'received'}}" (click)="downloadFile(item.type,item.message)">
       <div class="date" *ngIf="messages[index-1]?dateFormat(messages[index-1].date)!=dateFormat(messages[index].date):true">{{item.date  | DateFormat}}</div>
       <table border="0" cellpadding="0" cellspacing="0" class="right">
         <tr>
           <td valign="top"><div class="avatar" [ngStyle]="{'background-image': 'url('+userAvatar(messages[index-1],messages[index])+')'}"></div></td>
           <td valign="top">
             <ul class="message-data">
               <li [ngClass]="item.type=='message'?'text':item.type" [ngStyle]="item.type == 'file' ? {'background-image': 'url('+thumb(item.message)+')'} : ''">
                 <span *ngIf="item.type=='message'">{{item.message}}</span>
                 <div *ngIf="item.type=='request'">
                     <img src="assets/img/pages/chat/serviceRequest.png">
                     <span>
                   {{account.id==item.from?'You':user.receiverName}} requested {{item.message}}
                 </span>
                 </div>
                 <span *ngIf="item.type == 'file' && item.extFamily!='image'">
                   <span class="title">{{item.ext}}</span><div class="iicon {{item.ext | Uppercase}}">{{item.ext}}</div>
                 </span>
                 <div  class="check-sent" text-right>sent <ion-icon name="checkmark"></ion-icon></div>
               </li>
             </ul>
           </td>
         </tr>

       </table>
         <div class="clearfix"></div>

     </div>
   </div>
   <form class="chat-form">
       <div class="typing_section" *ngIf="receiversTyping">{{user.receiverName}} is typing...</div>
     <div class="input">
       <div class="option" (click)="openModal(0)">
          <img src="assets/img/pages/chat/attachment.png" width="14">
       </div>
       <input type="text" name="message" placeholder="Type your message"  (keyup)="typing()"   [(ngModel)]="formValues.chatInput">
       <button class="btn-send"  (click)="chatform()" [disabled]="!formValues.chatInput">
         <ion-icon class="icon icon-ios ion-ios-arrow-forward"></ion-icon>
       </button>
     </div>
   </form>

</ion-content>

<div class="modal {{modal[0].display}}" [attr.id]="modal[0].id">
   <div class="modal-content">
     <input type="file" (change)="fileUpload($event)" id="file-input" style="position:absolute; top: -999999px" #fileInp>
     <button class="icb" (click)="selectFile()">
       <img src="assets/img/pages/chat/attachment.png" width="17">
     </button>
     <button class="icb" (click)="openModal(1)">
       <img src="assets/img/pages/chat/serviceRequest.png" width="55">
     </button>
   </div>
</div>

<div class="modal {{modal[1].display}}" [attr.id]="modal[1].id">
   <div class="modal-content">
      <div class="serviceRequest">
        <div class="title">
          <img src="assets/img/pages/chat/serviceRequest.png" width="26"> Service Requests
        </div>
        <ul>
          <li *ngFor="let s of ServiceRequests" (click)="serviceSelected(s)" [ngClass]="s.class">{{s.name}}</li>
        </ul>
      </div>
   </div>
</div>
