
<ion-content>
  <custom-header [header]="header_data"></custom-header>

  <div class="page-title">
      <h1>
          {{property.property.property_name}} {{property.property.flat_name}}
          <span class="amount"><span class="dk">د.ك</span> {{property.property.property_price}}/mo</span>
      </h1>
      <p>{{property.property.property_address}}<br>{{property.property.property_city}}
          <span class="lease-ends">Lease ends in <b>{{invoice_model.endDays>0?getMonths(invoice_model.endDays):0}} </b></span>
      </p>
  </div>

  <div class="head-images">
      <ion-slides class="user-images-slider" pager="false" slidesPerView="3" loop>
          <ion-slide *ngFor="let item of property.image">
              <div class="slider-bg" [ngStyle]="{'background-image': 'url('+service.Link(item.image_path)+')'}"></div>
          </ion-slide>
      </ion-slides>
  </div>

  <div class="s-title">Next rent in</div>
  <div class="slide-days">
      <ion-range [(ngModel)]="invoice_model.endDays" min="1" max="365">
          <h4 range-left small name="sunny">{{invoice_model.endDays>0?invoice_model.endDays:0}} day<span *ngIf="invoice_model.endDays > 1">s</span></h4>
      </ion-range>
  </div>

  <div *ngIf="service.permission==3">
      <div class="s-title">Tenants</div>
      <div class="users">
          <ion-grid no-padding>
              <ion-row no-padding>
                  <ion-col *ngFor="let item of property.invitations; let index=index">
                      <div class="block" text-center>
                          <div class="img">
                              <img src="./assets/img/anonymousUser.png" *ngIf="!item.image_path">
                              <img src="{{service.Link(item.image_path)}}" *ngIf="item.image_path">

                          </div>
                          <div class="name">
                              {{item.users_firstname}}
                          </div>
                          <div class="state" *ngIf="item.users_work">
                              {{item.users_work}}
                          </div>
                          <div class="state" *ngIf="!item.users_work">
                              No work
                          </div>
                      </div>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </div>
     <div *ngIf="service.permission==2 && landlord">
      <div class="s-title">Landlord</div>
      <div class="users">
          <ion-grid no-padding>
              <ion-row no-padding>
                  <ion-col>
                      <div class="block" text-center>
                          <div class="img">
                              <img src="./assets/img/anonymousUser.png" *ngIf="!landlord.image_path">
                              <img src="{{service.Link(landlord.image_path)}}" *ngIf="landlord.image_path">

                          </div>
                          <div class="name">
                              {{landlord.users_firstname}}
                          </div>
                          <div class="state">
                            Landlord
                          </div>
                      </div>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </div>


  <div class="s-title">Pending Amount</div>
  <div class="block price">
      <span class="dk">د.ك</span> {{totalInvoice()}}
  </div>

  <div class="s-title"  *ngIf="pastInvoice[0]">Amount paid this year</div>
  <div class="block price black" *ngIf="pastInvoice[0]">
      <span class="dk">د.ك</span> {{pastInvoice[0].past_invoice_price}}
      <span float-right class="last-payment" *ngIf="pastInvoice[0].lastPaidTime">{{pastInvoice[0].lastPaidTime}}</span>
  </div>

  <div class="s-title">Invoice Details</div>
  <div class="div-form">
      <ion-list class="input-item-number" *ngIf="totalInvoice()>0">
          <ion-item>
              <div item-left class="dk" text-right>د.ك</div>
              <ion-input type="tel" readonly text-left maxlength="4" value="{{totalInvoice()}}"></ion-input>
          </ion-item>
      </ion-list>

      <div class="row pd">
          <table width="100%" cellpadding="2">
              <tr *ngFor="let section of invoice_units">
                  <td>{{section.name}}</td>
                  <td class="dire">{{section.price}} <b class="dk">د.ك</b><ion-icon name="md-trash" class="closeIcon" (click)="deleteUnit(section.id)" *ngIf="service.permission==3"></ion-icon></td>
              </tr>
          </table>
      </div>
      <b class="new-payment" *ngIf="service.permission==3 && totalInvoice()>0">New payment</b>
      <div class="pd2 inv" *ngIf="service.permission==3">

          <div class="s-title npL npR c-white">Invoice Amount</div>
          <div class="inp">
              <ion-grid class="plus-menus">
                  <ion-row>
                      <ion-col text-right>
                          <button class="icb pm-btn" (click)="minus()">
                              <img src="assets/img/icons/minus@2x.png">
                          </button>
                      </ion-col>
                      <ion-col>
                          <input type="number" [(ngModel)]="filds.price" class="text-input" />
                      </ion-col>
                      <ion-col text-left>
                          <button class="icb pm-btn" (click)="plus()">
                              <img src="assets/img/icons/plus@2x.png">
                          </button>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </div>

          <div class="s-title npL npR c-white">Invoice Description</div>
          <div class="inp text-inp-2">
              <ion-list>
                  <ion-item>
                      <ion-input type="text" [(ngModel)]="filds.name" ></ion-input>
                  </ion-item>
              </ion-list>
          </div>

          <button class="btn-add-new" (click)="createUnit()">Add New Section</button>

      </div>
      <div class="pd2">
          <label padding-top margin-top class="block" *ngIf="service.permission==3">
              <ion-checkbox [(ngModel)]="invoice_model.recurring" ></ion-checkbox> Repeat
          </label>

          <label padding-top margin-top class="block" *ngIf="service.permission==2">
              Invoice Recurring {{invoice_model.rduration!==0?'Biweekly':invoice_model.rduration}}
          </label>

          <p class="nmT text-ss" *ngIf="service.permission==3">
              Use this to repeat the invoice in future.
              You can select the time duration from the following options.
              We will send the invoice depending on the date you will select for the invoice.
          </p>
          <p class="nmT text-ss" *ngIf="service.permission==2">
              This invoice will bill automatically this time
          </p>
      </div>
      <div class="gb {{!invoice_model.recurring?'hiddenPortion':''}}" *ngIf="service.permission==3">
          <table width="100%">
              <tr>
                  <td width="25%"><button class="gb-item {{invoice_model.rduration=='weekly'?'active':''}}" (click)="changeDate(1)">WEEKLY</button></td>
                  <td width="25%"><button class="gb-item {{invoice_model.rduration=='biweekly'?'active':''}} {{invoice_model.rduration!='biweekly' && invoice_model.rduration!='weekly' && invoice_model.rduration!='monthly'?'active':''}}" (click)="changeDate(2)">BI-WEEKLY</button></td>
                  <td width="25%"><button class="gb-item {{invoice_model.rduration=='monthly'?'active':''}}"  (click)="changeDate(3)">MONTHLY</button></td>
              </tr>
          </table>
          <div class="s-title pickerParent">Invoice Date </div>
          <div id="datetime"></div>
          <div class="date_wrapper outside">
              <form name="date">
                  <ion-datetime displayFormat="DDD-MMM-YYYY" name="date" min="{{raisedFrom}}" max="{{raisedTo}}" [(ngModel)]="raisedVal" placeholder="Pick a Date"></ion-datetime>
              </form>
          </div>
      </div>
  </div>
  <button class="btn-add-property" *ngIf="service.permission==3" [disabled]="totalInvoice()<1" (click)="updateInvoice()">RAISE INVOICE</button>
  <button class="btn-add-property" *ngIf="service.permission==2" (click)="PayInvoice()">Pay Invoice</button>
</ion-content>
