.ER {
  font-family: 'Allura', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #332944;
}
.cc {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }