.EasyRent {
  font-family: 'Allura', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-top: 38px;
  text-align: center;
  color: #332944;
}
.smile
{
  margin:59px auto 0;
  display: block;
}
.Your-account-has-bee {
  width: 289px;
  font-size: 31px;
  font-weight: 300;
  letter-spacing: 0.8px;
  text-align: center;
  color: #332944;
  margin: 55px auto 0;
}
.btn-ac
{
  margin: 47px auto 40px;
}
page-account-created
{
  .content
  {
    background:none;
  }
}