resetpassword {

  $spaceTop:1vh;
  .scroll-content {
    @include background(map_get($Image, dark));
  }
  .header{
    @include parentHeader($spaceTop 0);
  }
  .header::after{
    @include header(none,none);
  }

  .toolbar-background{
    @include header(none,none);
  }
  ion-title{
    padding:0px !important;
  }
  .back-button{
    color:map_get($colors,light);
    @include button(map_get($buttons,back_arrow),30px,20px !important,0px 0px 0px 1em);
    .back-button-text,.button-inner{
      @include hide();
    }
  }

  .toolbar-content{
    @include header(none,none);
    .toolbar-title{
      color:map_get($colors,primary);
      @include font(light,2em);
    }

  }

  //header ends here
  .clear{
    @include clear();
  }
  .inputContainer{
    margin-top:$spaceTop+20vh;
    ion-item{
      @include header(none,none,none);
      input{
        border-bottom:1px solid map_get($colors,smoke);
        color:map_get($colors,smoke);
      }
      .label{
        @include  font(semibold,.8em);
        color:map_get($colors,smoke) !important;
        padding-left:1em;
      }
      .label.isLandlord{
        @include font(bold,1.2em);
        color:map_get($colors,primary) !important;
        padding:0px;
      }

      input {
        @include font(semibold, 0.8em);
        color:map_get($colors,primary);
        padding:0px 0px .8em .8em;

      }
      ::-moz-placeholder {
        color:map_get($colors,primary);
        @include font(semibold, 1em);
      }

      :-ms-input-placeholder {
        color:map_get($colors,primary);
        @include font(semibold, 1em);
      }
      ::-webkit-input-placeholder {
        text-indent: 0;
        color:map_get($colors,primary);
        @include font(semibold, 1em);
      }
      ::placeholder{
        color:map_get($colors,primary);
        @include font(semibold, 1em);
      }
      .pay_as_guest{
        @include button(map_get($buttons,whiteBtn),70%,10vh,2% auto);
        @include font(bold,1.4em);
        color:map_get($colors,light);

      }
    }
  }
  .forgot{
    @include font(semibold,1em);
    padding-right:1em;
    @include align(right);
    color:map_get($colors,smoke);
  }
  .clearfix{
    @include clear();
  }
  input+.label{
    color:map_get($colors,smoke);
  }
  .item.use_for_verification{
    min-height:20px;
    .label{
      @include font(primary,1em);
      color:map_get($colors,orange) !important;
    }
    ion-checkbox{
      margin:0px 3px !important;
    }
  }
  .alreadyUser{
    margin-top:1em;
    @include viaEmail(1em,semibold,smoke);
    button{
      @include viaEmailLater(1em,semibold,primary,none);
      margin:auto auto .8em 1px;

    }
  }
}
