page-add-property {
  .d-title
  {
    font-size: 22px;
    letter-spacing: 0.4px;
    color: #080043;
    font-weight: 300;
    margin: 20px 0;
  }
  .item .label p {
    white-space: initial;
    font-size: 11px;
    color: #000000;
    letter-spacing: 0.2px;
    font-weight: 500;
  }
  .none
  {
    display: none;
  }
  .top-menu
  {
    padding: 0 10px;
    .icon-btn
    {
      cursor: pointer;
      opacity: .5;
      img{
        margin-bottom: 10px;
        width:70px !important;
        max-width: initial;
      }
    }
    .icon-btn:hover
    {
      opacity: 0.6;
    }
    .icon-btn.active
    {
      opacity: 1;
    }
  }
  .s-title
  {
    padding: 30px 30px 10px;
    font-weight: 600;
    color: #4a4a4a;
  }
  .add-proprety-form
  {
    padding: 10px 50px;
    background-color: #f4f4f4;
    .item.item-block .item-inner {
      border-bottom: 1px solid #9f9f9f;
    }
    .item-input-has-focus .item-inner, .input-has-focus .item-inner {
      border-bottom-color: #9f9f9f !important;
      -webkit-box-shadow: 0 -1px 0 0 #9f9f9f inset !important;
      box-shadow: 0 -1px 0 0 #9f9f9f inset !important;
    }
    .list .item-input:last-child
    {
      border-bottom:0;
    }
    .list .item-input.item-input-has-focus:last-child, .list .item-input.input-has-focus:last-child
    {
      border-bottom-color: #9f9f9f !important;
    }
    .item-input .input, .item-input .textarea {
      font-size: 18px;
      font-weight: 600;
    }
    .item-input-has-focus .label, .label[stacked] {
      color: #000000 !important;
      font-weight: 600;
      opacity: 0.6;
    }
    .label[stacked]
    {
      font-size: 14px;
      opacity: 1;
    }
    .label[stacked] span
    {
      opacity: 0.6;
    }
    .g-buttons
    {
      margin: 15px -40px;
      .g-btn
      {
        width: 100%;
        height: 63px;
        margin: auto;
        background-color: rgba(155, 155, 155, 0.8);
        color: #fff;
        font-size: 14px;
      }
      .g-btn.active
      {
        background: rgba(8, 0, 67, 0.8);
      }
    }
    .plus-menus{
      .text-input
      {
        border-bottom: 1px solid #9f9f9f;
        margin: 0;
        width: 100%;
        padding: 1px 0;
        font-weight: 800;
        text-align: center;
        font-size: 29px;
        color: #4b4b4b;
      }
      .text-input:focus
      {
        box-shadow: 0 -1px 0 0 #9f9f9f inset !important;
      }
    }
    .pm-btn {
      margin-top: 12px;
    }
  }
  .add-image.geen
  {
    background: #417505 !important;
  }
  .item[no-lines], .item.item[no-lines] .item-inner{
    border:0;
  }
  .images
  {
    ul
    {
        margin: 0;
        padding: 0;
        display: block;
        li
        {
            display: block;
            float: left;
            width: 33.333%;
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom: 1px;
            box-shadow: 0px 0 0 1px #fff inset;
        }
    }
    img
    {
        display: block;
    }
    .add-image
    {
      width: 100%;
      height: 100px;
      background-color: #68c7b7;
      color: #fff;
      font-size: 15px;
      display: table;
      box-shadow: 0px 0 0 1px #fff inset;
      line-height: 20px;
    }
    .fileUpload{
      input{

        position:absolute !important;
        bottom:0.1em;
        padding:3em 1.1em !important;
        opacity:0;
      }
    }
  }
  .btn-add-property
  {
    width: 100%;
    height: 60px;
    color: #fff;
    background-color: #0f97b0;
    letter-spacing: 0.4px;
    font-size: 18px;
    margin: 0;
    margin-top: 32px;
  }

  .searchinput{
    .search-input-container{
      border:none ;

    }
    background:none !important;
    height:60px !important;;
    margin:10px auto 0;
    ion-searchbar{
      width:77%;
      border:none ;
      border-color:inherit;
      background:none !important;
      border-bottom: 1px solid #9F9F9E;
    }
    .searchbar-search-icon{
      display:none;
    }
    .searchbar-input{
      width:100%;
      padding:0;
      padding-left:8px !important;
      border:none ;
      @include clear-shadow();
    }
    input {
      background: none !important;
      font-size: 18px !important;
      border:none !important;
      font-weight: 600 !important;
    }

    ::-webkit-input-placeholder {
      color: black !important;
      padding-left: 1px!important;
      font-weight:400 !important;
      opacity:0.4;
      font-size:16px;
    }
    .prop_label{
      margin-left:15px;
      font-size: 1em;
    }
  }
}